 body {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  color: #222;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

#about, #education, #work{
  max-width: 1300px; 
  margin: 30px auto;
  border-top: 0.8px solid rgb(0, 0, 0); 
}

#skills {
  max-width: 1300px; 
  margin: 30px auto;    
}

#projects, article {
  max-width: 1300px; 
  margin: 30px auto;    
}

#projects {
  border-top: 0.8px solid rgb(0, 0, 0);
}

li {
    margin-bottom: 7px;
}

#skills ul {
  display: flex;         
  flex-wrap: wrap;       
  gap: 1rem;            
  padding-left: 0;       
  list-style: none;
}

#skills li {
  background-color: #eee;  
  padding: 0.3rem 0.6rem;  
  border-radius: 5px;      
  margin-bottom: 0.5rem;   
}

.about-image img {
  width: 150px;       
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0%;
  margin: 10px;
  padding: 5px;
}

@media (max-width: 500px) {
  header {
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;      
    gap: 0.5rem;            
  }

  .about-image {
    padding: 280px;
    position: absolute;
  }
}